{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "quoteProps": "as-needed"
}
